#!/bin/bash

/usr/bin/curl "http://<%= @dominio %>:8080/solr/admin/cores?action=CREATE&name=sei-protocolos&instanceDir=/opt/solr/indices/sei-protocolos&config=sei-protocolos-config.xml&schema=sei-protocolos-schema.xml&dataDir=/opt/solr/indices/sei-protocolos/conteudo"

/usr/bin/curl "http://<%= @dominio %>:8080/solr/admin/cores?action=CREATE&name=sei-bases-conhecimento&instanceDir=/opt/solr/indices/sei-bases-conhecimento&config=sei-bases-conhecimento-config.xml&schema=sei-bases-conhecimento-schema.xml&dataDir=/opt/solr/indices/sei-bases-conhecimento/conteudo"

/usr/bin/curl "http://<%= @dominio %>:8080/solr/admin/cores?action=CREATE&name=sei-publicacoes&instanceDir=/opt/solr/indices/sei-publicacoes&config=sei-publicacoes-config.xml&schema=sei-publicacoes-schema.xml&dataDir=/opt/solr/indices/sei-publicacoes/conteudo"

/usr/bin/curl "http://<%= @dominio %>:8080/solr/admin/cores?action=RELOAD"
